Repository AliBagheri2079/dashboard-postcss-tailwind-daisyui-vanillats-vite: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

:wrench: chore: add tsconfig path to parserOptions.project for fix eslint error
  .eslintignore
  .eslintrc.json
Due: prettier --write

:wrench: chore: remove postcss-lit and many unusefull rules
  .stylelintrc.json
  package.json
Due: prettier --write

:wrench: chore: add many rules in prttier config file
  .prettierrc.json
Due: prettier --write

:hammer: chore: update eslint, stylelint and prettier scripts in package.json and .lintstagdrc files
  .lintstagedrc
  package-lock.json
  package.json
Due: prettier --write

:sparkles: feat: improve structure with configurate absolute path strategy
  tsconfig.json
  vite.config.js
Due: prettier --write

:bug: fix: handle svg logo path
  index.html
Due: prettier --write

:sparkles: feat: add tailwind with postcss
  package-lock.json
  package.json
  postcss.config.cjs
  tailwind.config.cjs
Due: prettier --write

:art: refactor: improve structure with tailwind utilities
  src/assets/style/index.css
  src/main.css
  src/main.ts
Due: prettier --write, eslint --fix, stylelint --fix

:wrench: chore: ignore unknown rule from stylelint config file
  .stylelintrc.json
Due: prettier --write

:heavy_plus_sign: chore: add tailwindcss prettier plugin
  package-lock.json
  package.json
Due: prettier --write

:heavy_plus_sign: chore: add many postcss plugins
  package-lock.json
  package.json
  postcss.config.cjs
Due: prettier --write

:lipstick: style: add tailwind variants utils and write many comments
  src/main.css
Due: prettier --write, stylelint --fix

:sparkles: feat: add daisyui as tailwind plugin
  package-lock.json
  package.json
  tailwind.config.cjs
Due: prettier --write

:bulb: refactor: write list of daisy ui themes comment
  index.html
Due: prettier --write

:wrench: chore: change daisy ui config options
  tailwind.config.cjs
Due: prettier --write

:bulb: refactor: remove unuseless theme comment and add 'bg-primary' class to body
  index.html
Due: prettier --write

:heavy_plus_sign: chore: replace postcss nesting with postcss nested plugin
  package.json
  postcss.config.cjs
Due: prettier --write

:wrench: chore: add and update many custom tailwindcss config
  tailwind.config.cjs
Due: prettier --write

:sparkles: feat: add fontawesome cdn
  index.html
Due: prettier --write

:sparkles: feat: create app component
  src/pages/index.ts
Due: prettier --write, eslint --fix

:sparkles: feat: create all navbar components
  src/components/Navbar/Brand.ts
  src/components/Navbar/CollapseLink.ts
  src/components/Navbar/Link.ts
  src/components/Navbar/data.ts
  src/layouts/private/Menu/index.ts
  src/layouts/private/Nav/index.ts
Due: prettier --write, eslint --fix

:lipstick: style: move main file to style folder, create navlink style file
  src/main.css
  src/style/components/_index.css
  src/style/components/_nav-link.css
  src/style/main.css
Due: prettier --write, stylelint --fix

:label: feat: add navitemlist and navitem type, interface file
  src/types/interface/NavItemList.ts
  src/types/type/NavItem.ts
Due: prettier --write, eslint --fix

:sparkles: feat: create all header components
  src/components/Buttons/Avatar.ts
  src/components/Buttons/Button.ts
  src/components/Buttons/Theme.ts
  src/components/Buttons/ToggleLang.ts
  src/components/Forms/Input/Search.ts
  src/components/Navbar/BreadCrumbs.ts
  src/layouts/private/Header/Content.ts
  src/layouts/private/Header/Divider.ts
  src/layouts/private/Header/index.ts
Due: prettier --write, eslint --fix

:label: feat: add button options type file
  src/types/interface/ButtonOptions.ts
Due: prettier --write, eslint --fix

:sparkles: feat: init theme change method
  package-lock.json
  package.json
  src/vendors/themeChange.ts
Due: prettier --write, eslint --fix

:sparkles: feat: create content component
  src/pages/Content.ts
  src/pages/index.ts
Due: prettier --write, eslint --fix

:art: refactor: improve structure main typescript file
  src/main.ts
Due: prettier --write, eslint --fix

:lipstick: style: disable active style nav element for collapse links
  src/components/Navbar/data.ts
  src/style/components/_nav-link.css
Due: prettier --write, eslint --fix, stylelint --fix

:art: refactor: improve structure with moving App Component to container folder
  src/container/App.ts
  src/main.ts
Due: prettier --write, eslint --fix

:sparkles: feat: add axios dependency
  package.json
Due: prettier --write

:art: feat: improve structure with create axios, fetch instance
  src/services/crypto/instance.ts
Due: prettier --write, eslint --fix

:sparkles: feat: create crypto api services
  src/services/crypto/getCoinData.ts
  src/services/crypto/getCoinsMarket.ts
Due: prettier --write, eslint --fix

:sparkles: feat: create coin pie chart cards
  src/layouts/public/Cards/CoinPieChart/Component.ts
  src/layouts/public/Cards/CoinPieChart/CurrentPrice.ts
  src/layouts/public/Cards/CoinPieChart/MarketCap.ts
  src/layouts/public/Cards/CoinPieChart/data.ts
  src/layouts/public/Cards/CoinPieChart/index.ts
Due: prettier --write, eslint --fix

:sparkles: feat: create coins table component
  src/layouts/public/Table/Coin/CoinData.ts
  src/layouts/public/Table/Coin/CoinDataBody.ts
  src/layouts/public/Table/Coin/CoinDataBodyContent.ts
  src/layouts/public/Table/Coin/CoinDataBodyPlaceholder.ts
  src/layouts/public/Table/Coin/CoinDataHead.ts
Due: prettier --write, eslint --fix

:sparkles: feat: create single coin dialog components
  src/layouts/public/Dialog/SingleCoin/Backdrop.ts
  src/layouts/public/Dialog/SingleCoin/Card.ts
  src/layouts/public/Dialog/SingleCoin/ClosePanel.ts
  src/layouts/public/Dialog/SingleCoin/Content.ts
  src/layouts/public/Dialog/SingleCoin/Data.ts
  src/layouts/public/Dialog/SingleCoin/createCardStat.ts
  src/layouts/public/Dialog/SingleCoin/index.ts
Due: prettier --write, eslint --fix

:sparkles: feat: add chart.js dependency - create chart component
  package-lock.json
  package.json
  src/components/Chart/index.ts
Due: prettier --write, eslint --fix

:label: refactor: add interface, types and enum to project
  src/components/Buttons/Button.ts
  src/components/Navbar/CollapseLink.ts
  src/components/Navbar/Link.ts
  src/components/Navbar/data.ts
  src/global/enum/CoinsMarketCapOrder.ts
  src/global/interface/ButtonOptions.ts
  src/global/interface/CardStat.ts
  src/global/interface/CoinData.ts
  src/global/interface/CoinDataParams.ts
  src/global/interface/CoinsMarket.ts
  src/global/interface/CoinsMarketParams.ts
  src/global/interface/NavItemList.ts
  src/global/interface/PieChart.ts
  src/global/types/CreateChart.ts
  src/global/types/NavItem.ts
  src/global/types/NewInstance.ts
Due: prettier --write, eslint --fix

:sparkles: feat: add number formatter utility
  src/utils/format.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *
  eslint --fix: any of: *.ts
  stylelint --fix: any of: *.css
